
[project]
name = "bomber"
version = "0.1.0"
description = ""
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "aiohttp>=3.13.3",
    "fake-useragent>=2.2.0",
    "pyfiglet>=1.0.4",
]
